<section id = "about" class = "container first hero">
    <div class="greeting">Hello, I<span style="color: #00D646">'</span>m Hiep Vo
        <div class="description">Front End Developer / Aspiring Full Stack Developer
        </div>
    </div>
    <div class="box-content content block textStyle">
        <div class="txtNew">
            <h6>accomplishments</h6>
            <div>
                <ul>
                    <li><span class="textStyle">Proficiency in CSS3, HTML5 and Javascript</span></li>
                    <li><span class="textStyle">Proficiency in Javascript libraries and frameworks like jQuery, React</span></li>
                    <li><span class="textStyle">Experience with Webpack, Gulp, Babel</span></li>
                    <li><span class="textStyle">Experience with CSS preprocessors</span></li>
                    <li><span class="textStyle">Knowledge of responsive and mobile design</span></li>
                    <li><span class="textStyle">Experience with photo editing software such as Photoshop</span></li>
                    <li><span class="textStyle">Problem solving skills</span></li>
                    <li><span class="textStyle">Experience with version control like Git, GitHub</span></li>
                    <li><span class="textStyle">Understand of web development process (design, develop, deploy)</span></li>
                </ul>
            </div>
        </div>
        <div class="txtNew">
            <h6>About Me</h6>
            <div>As a student at BovAcademy, I’m training my self becoming skilled front end developer with ability interpreting UI/UX wireframes, translating UX concept into code, collaborating with others who are involved in project.</div>
        </div>
        <div class="txtNew">
            <h6>Let's Connect</h6>
            <div>
                <ul>
                    <li><a href="mailto:vanhiep1086@gmail.com" class="textStyle">vanhiep1086@gmail.com</a></li>
                    <li><a class="textStyle" href = "https://github.com/hiepvo">GitHub</a></li>
                    <li><a class="textStyle" href = "https://www.linkedin.com/in/hiepvo1086/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

