<section id = "about" class = "container first hero">
    <div class = "greeting">Hello, I<span style = "color: #00D646">'</span>m Hiep Vo
        <div class = "description">Front End Developer / Aspiring Full Stack Developer
        </div>
    </div>
    <div class = "box-content content block textStyle">
        {{#each about-items}}

            <div class = "txtNew">
                <h6>{{about-title}}</h6>
                <div>
                    <ul>
                        {{#each social-links}}
                            <li><a class = "textStyle" href = "{{link-to}}">{{text}}</a></li>
                        {{/each}}
                        {{#each about-desc}}
                            <li><span class = "textStyle">{{this}}</span></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}

    </div>
</section>

