<section id = "contact" class = "container tiltTop fourth">
    <h2 class = "title">Contact</h2>
    <div class = "block">
        <div id = "contact-form">
            <fieldset>
                <input type="text" placeholder = "Name" tabindex = "1" required>
            </fieldset>
            <fieldset>
                <input placeholder = "Email Address" type = "email" tabindex = "2" required>
            </fieldset>
            <fieldset>
                <input placeholder = "Phone Number (optional)" type = "tel" tabindex = "3">
            </fieldset>
            <fieldset>
                <textarea placeholder = "Type your message here...." tabindex = "5" required></textarea>
            </fieldset>
            <fieldset>
                <button name = "submit" type="submit" id = "contact-submit">Submit</button>
            </fieldset>
        </div>
    </div>
</section>
