<section id="skills" class="container tiltTop secondary">
    <h2 class="title">Professional</h2>
    <div class="box-content block">
        <div class="SkillBar">
            <div id="Skill-HTML">
                <span class="Skill-Area ">HTML</span>
                <span class="PercentText ">100%</span>
            </div>
        </div>

        <div class="SkillBar">
            <div id="Skill-CSS">
                <span class="Skill-Area ">CSS/CSS3</span>
                <span class="PercentText ">90%</span>
            </div>
        </div>

        <div class="SkillBar">
            <div id="Skill-JS">
                <span class="Skill-Area ">Javascript</span>
                <span class="PercentText ">85%</span>
            </div>
        </div>

        <div class="SkillBar">
            <div id="Skill-ReactJS">
                <span class="Skill-Area ">ReactJS</span>
                <span class="PercentText ">62%</span>
            </div>
        </div>

        <div class="SkillBar">
            <div id="Skill-jQuery">
                <span class="Skill-Area ">jQuery</span>
                <span class="PercentText ">65%</span>
            </div>
        </div>

        <div class="SkillBar">
            <div id="Skill-XML">
                <span class="Skill-Area ">XML </span>
                <span class="PercentText ">60%</span>
            </div>
        </div>

        <div class="SkillBar">
            <div id="Skill-SQL">
                <span class="Skill-Area ">MS-SQL </span>
                <span class="PercentText ">60%</span>
            </div>
        </div>
    </div>

</section>
