<section id="skills" class="container tiltTop secondary">
    <h2 class="title">Professional</h2>
    <div class="box-content block">
        {{#each skills}}
        <div class="skill-bar">
            <div id="{{skill-id}}">
                <span class="skill-area">{{skill-text}}</span>
                <span class="percent">{{skill-percent}}</span>
            </div>
        </div>
        {{/each}}
    </div>
</section>
